.git
.github
.vscode
node_modules
src/frontend/node_modules
src/frontend/dist
src/backend/.mypy_cache
src/backend/.pytest_cache
src/backend/.ruff_cache
src/backend/__pycache__
src/backend/src/__pycache__
src/backend/tests/__pycache__
wiki
docs
examples
dist
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
