DEVCONTAINER_CONTROL_PORT=9000
DEVCONTAINER_DOCS_PORT=999
DEVCONTAINER_DEV_PORT=5173
DEVCONTAINER_PROD_PORT=8180

UNNAMED_TRACKING_APP_VERSION=latest

DEBUG_POSTGRES_USER=unnamed_tracking
DEBUG_POSTGRES_PASSWORD=debug-password
DEBUG_POSTGRES_DB=unnamed_tracking
DEBUG_PROD_POSTGRES_USER=unnamed_tracking
DEBUG_PROD_POSTGRES_PASSWORD=debug-password
DEBUG_PROD_POSTGRES_DB=unnamed_tracking
DEBUG_PROD_SECRET_KEY=devcontainer-not-for-production
DEBUG_PROD_PRIMARY_USER_PASSWORD=debug-admin-password
